.dirstamp
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
libtool
stamp-h1
*.o
xdelta3
xdelta3decode
xdelta3regtest
