body {
  margin-top: 15px;
  margin-left: 15px;
  background-color:#b0b0b0;
  color:#204080;
  font-family: serif;
  word-spacing: 0.5pt;
  text-indent: 0pt;
}

A:visited {
  color: #204080;
}
A:link {
  color: #102040;
}
h1 {
  color: #103060;
  font-size: 150%;
}

h2 {
  color: #103060;
  font-size: 80%;
}

code, pre {
  font-family: monospace;
}

pre {
  color: #102040;
}

code {
  color:#0060c0;
}

.example {
  margin-right: 20px;
  margin-left: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;

  background-color: #808080;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.leftbdr {
  font-family: sans-serif;
  color: #103060;
  background-color: #606060;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
.leftbody A:visited {
  color: #102040;
  text-decoration: none;
}
.leftbody A:link {
  color: #102040;
  text-decoration: none;
}
